*{
    margin: 0;
    font-family: "Playfair Display", serif;
}

body{
    background: url(rss/orion-nebula-g6439130ec_1920.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

/************** nav ****************/
header{
    display: flex;
    justify-content: center;
}
nav{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: rgba(180, 45, 11, 0.747);
    position: fixed;
    z-index: 99;
    border-radius: 50px;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin-right: 3em;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}


/******** experience ***********/

#experience{
    height: 100%;
    margin-bottom: 50px;
    padding-top: 50px;
}

.title{
    display: flex;
    align-items: center;
    font-size: 35px;
    color: white;
    flex-direction: column;
    margin-top: 100px;
}

.exp-container{
    display: flex;
    color: white;
    justify-content: space-around;
    height: 550px;
    align-items: center;

}
.exp-container hr{
    height: 100px;
}

.exp-container span{
    margin-right: 10px;
    padding: 5px;
    background-color: rgba(180, 45, 11, 0.747);
    border-radius: 50px;
}
