*{
    margin: 0;
    font-family: "Playfair Display", serif;
}

body{
    background: url(rss/tree-g43e6ae5f4_1280.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

/************** nav ****************/
header{
    display: flex;
    justify-content: center;
}
nav{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: rgba(180, 45, 11, 0.747);
    border-radius: 50px;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin-right: 3em;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}


/******** project ***********/

#project{
    height: 650px;
    width: 100%;
}

.title{
    display: flex;
    align-items: center;
    font-size: 35px;
    color: white;
    flex-direction: column;
    margin-top: 50px;
}

.projects{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    color: white;
    height: 500px;
}
.projects div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects img{
    width: 400px;
    height: 300px;
    margin-top: 20px;
    filter: brightness(80%);
}
